{%- comment -%}
  Währungsumrechner zwischen EUR und USD
  Nutzt die exchangerate-api.com API für aktuelle Wechselkurse
{%- endcomment -%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select currency-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}CurrencyList"
    aria-describedby="{{ localPosition }}CurrencyLabel"
  >
    <span class="current-currency">€ EUR</span>
    {{ 'icon-caret.svg' | inline_asset_content }}
  </button>
  <div class="disclosure__list-wrapper currency-selector" hidden>
    <ul id="{{ localPosition }}CurrencyList" role="list" class="disclosure__list list-unstyled">
      <li class="disclosure__item" tabindex="-1">
        <a
          class="link link--text disclosure__link caption-large focus-inset currency-option"
          href="#"
          data-value="EUR"
          data-symbol="€"
        >
          <span class="currency-checkmark">
            {{- 'icon-checkmark.svg' | inline_asset_content -}}
          </span>
          <span> € EUR </span>
        </a>
      </li>
      <li class="disclosure__item" tabindex="-1">
        <a
          class="link link--text disclosure__link caption-large focus-inset currency-option"
          href="#"
          data-value="USD"
          data-symbol="$"
        >
          <span class="currency-checkmark">
            {{- 'icon-checkmark.svg' | inline_asset_content -}}
          </span>
          <span> $ USD </span>
        </a>
      </li>
    </ul>
  </div>
</div>
