{% comment %}
  Ermöglicht die Umschaltung zwischen metrischen und imperialen Einheiten im Shop

  Kann in Filter-Modulen oder anderen Bereichen eingebunden werden

  Nutzung:
  {% render 'unit-switcher', class: 'optional-extra-class' %}
{% endcomment %}

<unit-switcher class="unit-switcher {% if class %}{{ class }}{% endif %}">
  <input
    type="checkbox"
    class="unit-switcher__checkbox js-unit-switcher-input"
    id="unit-switcher"
    aria-label="{{ 'products.facets.unit_switch_label' | t }}"
  >
  <label class="unit-switcher__label" for="unit-switcher">
    <span class="unit-switcher__metric">
      {{- 'products.facets.unit_metric' | t -}}
      <span class="unit-switcher__subtext"> m / cm / mm</span></span
    >
    <span class="unit-switcher__imperial">
      {{- 'products.facets.unit_imperial' | t -}}
      <span class="unit-switcher__subtext"> yd / ft / in</span></span
    >
  </label>
</unit-switcher>

{% comment %}
  Kopple den erforderlichen JS-Code zum HTML, falls noch nicht geladen
{% endcomment %}
{% if unit_converter_loaded != true %}
  <script src="{{ 'unit-converter.js' | asset_url }}" defer></script>
  {% assign unit_converter_loaded = true %}
{% endif %}
